/* 
* put some scss here and it will automaticallu compile with `yarn dev`
* or you can build it with `yarn build`
*/

.wp-block-basic-block-gutenberg-baby {
    padding: 1rem;
    background: pink;
}
